@use "../global/index" as *;

/* -------------------------------------
        l-footer
-----------------------------------------*/
.l-footer {
  background-color: $color-black01;
  color: #fff;
  padding: 180px 0 100px;
  margin-top: -78px;
}
