@use "../global/index" as *;

/* -------------------------------------
        l-grid
-----------------------------------------*/
.l-grid {
  display: grid;
  gap: 60px 50px;
  @include mq(md) {
    gap: 30px;
  }
}

// col2
.l-grid--col2 {
  grid-template-columns: repeat(2, 1fr);
}



// col3
.l-grid--col3 {
  grid-template-columns: repeat(3, 1fr);
  @include mq(md) {
    grid-template-columns: repeat(1, 1fr);
  }
}


// col4
.l-grid--col4 {
  grid-template-columns: repeat(4, 1fr);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}