@use "../../global/index" as *;

/* -------------------------------------
        c-btn
-----------------------------------------*/
.c-btn {
  display: inline-block;
  position: relative;
  max-width: 280px;
  width: 100%; 
  border: 1px solid $main-color;
  border-radius: 100px;
  background-color: #fff;
  font-weight: $medium;
  text-align: center;
  transition: 0.25s;
  z-index: 10;
  padding: 24px 10px;
  @include mq(md) {
    font-size: 1.4rem;
    max-width: 250px;
    padding: 10px 8px;
  }

  &:hover, &:focus-visible {
    background-color: $main-color;
    color: #fff;
  }
}


