@use "../../global/index" as *;

/* -------------------------------------
        c-pager
-----------------------------------------*/
.c-pager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  // @include mq(lg) {
  //   max-width: 560px;
  // }

  &__prev, &__next {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 130px;

    a {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      font-size: 1.6rem;
      padding: 5px 4px;
      transition: 0.25s;
      @include mq(md) {
        padding: 7px 4px;
      }
      &:hover, &:focus-visible {
        opacity: 0.7;
      }
    }

    img {
      display: inline-block;
      width: 12px;
    }
  }

  &__next {
    img {
      margin-right: 20px;
    }
  }

  &__prev {
    img {
      margin-left: 20px;
    }

    a {
      justify-content: flex-end;
    }
  }
}