@use "../../global/index" as *;

/* -------------------------------------
        c-pagination
-----------------------------------------*/
.c-pagination {
  display: inline-flex;
  margin: 0 20px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 10px;
    position: relative;
    padding: 0 10px;
    @include mq(md) {
      gap: 5px 6px;
    }
  }

  li a {
    transition: 0.25s;
    &:hover, &:focus-visible {
      opacity: 0.7;
    }
  }

  li .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 40px;
    height: 40px;
    border: 1px solid #CECECE;
    font-family: $third-font-family;
    font-size: 1.4rem;  
    line-height: 1;
    @include mq(md) {
      width: 32px;
      height: 32px;
      font-size: 1.2rem;
    }
  }

  li .current {
    background-color: #C7B9A4;
    border: 1px solid #C7B9A4;
    color: #fff;
  }

  li .prev, li .next {
    border: none;
    background-color: transparent;
    margin: 0;
  }

  li .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -32px;
    @include mq(md) {
      left: -24px;
    }
  }
  li .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -36px;
    @include mq(md) {
      right: -30px;
    }
  }

  li .prev {
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;      
      background-image: url(../img/icon/icon_left-beige.svg);
      background-size: contain;
      background-repeat: no-repeat;
      @include mq(md) {
        width: 16px;
        height: 16px;   
      }
    }
  }
  li .next {
    &::after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;      
      background-image: url(../img/icon/icon_right-beige.svg);
      background-size: contain;
      background-repeat: no-repeat;  
      // margin-left: 8px;
      @include mq(md) {
        width: 16px;
        height: 16px;   
      }
    }
  }
}