@use "../../global/index" as *;

/* -------------------------------------
        c-table
-----------------------------------------*/
.c-table {
  
  &__row {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    line-height: 1.5;
    padding: 30px 10px;
    @include mq(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &:last-child {
      border-bottom: 1px solid#ccc;
    }
  }

  &__head {
    flex-shrink: 0;
    width: 160px;
    @include mq(md) {
      width: 100%;
      font-weight: $bold;
    }
  }

  &__data {
    flex: 1;    
  }

  &__list-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 100px;
    @include mq(md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__list {
    display: grid;
    row-gap: 10px;
    padding-left: 1.2em;
    
    li {
      text-indent: -0.6em;
      &::before {
        content:  "";
        width: 4px;
        height: 4px;
        display: inline-block;
        background-color: $color-black01;
        border-radius: 50%;  
        margin-right: 8px;
        margin-bottom: 3px;
      }
      // & + * {
      //   margin-top: 10px;
      // }
    }
  }
}