---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="COMPANY">
  <section class="p-under-mv">
    <div class="l-inner">
      <h1 class="p-under-mv__title">
        <span class="en">Company</span>
        <span class="ja">会社案内</span>
      </h1>
    </div>
  </section>
  <section class="l-section l-section--first p-company">
    <div class="l-inner">
      <h2 class="c-color-title">会社概要</h2>
      <div class="p-company__table">
        <dl class="c-table">
          <div class="c-table__row">
            <dt class="c-table__head">会社名</dt>
            <dd class="c-table__data">株式会社 ENVY DESIGN</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">創立</dt>
            <dd class="c-table__data">2012年2月1日</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">設立</dt>
            <dd class="c-table__data">2015年7月1日</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">資本金</dt>
            <dd class="c-table__data">10,000,000円</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">所在地</dt>
            <dd class="c-table__data">〒106-0045　東京都港区麻布十番2-8-14 i-o AZABU 3a（アイオー麻布 3a）</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">TEL</dt>
            <dd class="c-table__data">03-6883-8292</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">URL</dt>
            <dd class="c-table__data">https://envydesign.jp</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">会社名</dt>
            <dd class="c-table__data">
              <ul class="c-table__list">
                <li>株式会社 インテリックス</li>
                  <li>Webサイトの制作</li>
                  <li>Webサイト改善コンサルティング</li>
                  <li>Webサイト更新、保守、運用サポート</li>
              </ul>
            </dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">主要取引銀行</dt>
            <dd class="c-table__data">三菱UFJ銀行</dd>
          </div>
          <div class="c-table__row">
            <dt class="c-table__head">主要取引先</dt>
            <dd class="c-table__data">
              <div class="c-table__list-wrap">
              <ul class="c-table__list">
                <li>株式会社 インテリックス</li>
                <li>株式会社日比谷花壇</li>
                <li>シグマ株式会社</li>
                <li>株式会社グラフィック</li>
                <li>株式会社ワークスジャパン</li>
                <li>NCメディカルリサーチ株式会社</li>
                <li>株式会社東忠DXSS</li>
                <li>株式会社ヘッズコーポレーション</li>
                <li>共創エンジニアリング株式会社</li>
                <li>CocochiCosme株式会社</li>
              </ul>
              <ul class="c-table__list">
                <li>弁護士法人外立総合法律事務所</li>
                <li>認定NPO法人カタリバ</li>
                <li>一般社団法人 ドナーリンク・ジャパン</li>
                <li>株式会社 文化財保存計画協会</li>
                <li>株式会社ゼロメディカル</li>
                <li>株式会社リムライン</li>
                <li>株式会社ブリリアージュ</li>
                <li>株式会社朝明商事</li>
                <li>イーソリューションズ株式会社</li>
                <li>株式会社フロント</li>
              </ul>
            </div>
            </dd>
          </div>
        </dl>
      </div>
  </section>

  <section class="p-service l-section l-section--last">
    <div class="l-inner">
      <h2 class="c-color-title">サービスの流れ</h2>
      <div class="p-service__"></div>
    </div>
  </section>
	
</Layout>









