---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="SERVICE">
  <section class="p-under-mv">
    <div class="l-inner">
      <h1 class="p-under-mv__title">
        <span class="en">Service</span>
        <span class="ja">サービス</span>
      </h1>
    </div>
  </section>
<div class="p-service l-bottom">
  <section class="l-section l-section--first">
    <div class="l-inner">
      <div class="c-service c-service--main">
      <div class="c-service__text-area">
        <hgroup class="c-service__head">
          <h2 class="c-service__title">対面だからこそ伝わる価値を届けたい</h2>
        </hgroup>
        <div class="c-service__text-wrap">
        <p class="c-service__text">近年、デザインやWeb制作はオンラインで完結するのが一般的ですが、オンラインだけではお客様の想いや細かなニュアンスを十分に汲み取れないと感じていました。</p>
        <p class="c-service__text">そこで私たちは、「顔を合わせて直接相談しながら進めることで、より良いものを生み出す」という考えに基づき、麻布十番から1.2km圏内（徒歩15分圏内）にサービス範囲を限定しました。</p>
        <p class="c-service__text">このエリアなら、じっくり話し合いながら理想を形にする環境を実現できます。オンライン全盛の時代に、対面ならではの価値をお届けする。それが、このサービスを始めた理由です。</p>
      </div>
      <div class="c-service__bottom">
        <h3 class="c-secondary-title">主な対象エリア</h3>
        <p class="c-service__bottom-area">麻布十番　／　元麻布　／　南麻布　／　西麻布　／　東麻布　／　麻布台　／　白金台　／　三田　／　芝　／　芝公園</p>
      </div>
      </div>
      <figure class="c-service__img">
        <img src="/assets/img/top/service_map-img.png" alt="株式会社ENVY DESIGN1.2km圏内エリアマップ" width="546" height="546" loading="lazy">
      </figure>
    </div>
  </section>

  <section class="l-section">
    <div class="l-inner">
    
    </div>
  </section>
</div>
	
</Layout>









