---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="CONTACT">
  <section class="p-under-mv">
    <div class="l-inner">
      <h1 class="p-under-mv__title">
        <span class="en">Contact</span>
        <span class="ja">お問い合わせ</span>
      </h1>
    </div>
  </section>
  <section class="p-contact l-section l-section--first l-section--last">
    <div class="l-inner">
      <h2 class="c-color-title">メールでのお問い合わせ</h2>
      <p class="p-contact__thanks-text">お問い合わせありがとうございます。<br>
        3営業日以内に担当者よりご連絡させて頂きます。<br>
        万が一ご連絡がない場合は、お問い合わせが正常に届いていない可能性がありますので、<br>
        お手数をおかけいたしますが、再度お問い合わせいただくか、お電話にてご連絡頂ければ幸いです。</p>
      <div class="p-contact__info">
        <div class="p-contact__info-item">
          <p class="p-contact__info-title">LINEでご相談</p>
          <a href="" class="p-contact__info-line"><span class="line-icon"><img src="/assets/img/icon/icon_line2.svg" alt="LINE" width="36" height="35" loading="lazy"></span>お問い合わせ</a>          
        </div>
        <div class="p-contact__info-item">
          <p class="p-contact__info-title">電話でご相談</p>
          <a href="tel:03-6883-8292" class="p-contact__info-tel"><span class="tel-icon"><img src="/assets/img/icon/icon_tel3.svg" alt="TEL" width="19" height="31" loading="lazy"></span>03-6883-8292</a>          
        </div>
      </div>
  </section>

</Layout>









