---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="WORKS">
  <section class="p-under-mv">
    <div class="l-inner">
      <h1 class="p-under-mv__title">
        <span class="en">Works</span>
        <span class="ja">制作実績</span>
      </h1>
    </div>
  </section>
  <section class="p-works l-section l-section--first l-section--last">
    <div class="l-inner">
      <ul class="l-grid l-grid--col2">
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img01.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">BRILLIAGE</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img02.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">ENVY DESIGN</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img03.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">Shimizu Industry</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img04.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">なかほり眼科クリニック</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img05.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">朝明商事</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img06.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">the R nail company</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img07.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">文化財保存計画協会</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img08.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">中野区立広町みらい公園</p>
          </div>
        </li>
        <li class="c-works">
          <figure class="c-works__img">
            <img src="/assets/img/top/works_img09.png" alt="" width="575" height="412" loading="lazy">
          </figure>
          <div class="c-works__body">
            <ul class="c-works__tag-wrap">
              <li class="c-works__tag">ECサイト</li>
              <li class="c-works__tag">LP / バナー</li>
              <li class="c-works__tag">サイト運用・保守</li>
            </ul>
            <p class="c-works__name">さくらプロジェクト</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
	
</Layout>









