<div class="p-fixef-cta">
  <ul class="p-fixef-cta__list">
    <li class="p-fixef-cta__item p-fixef-cta__item--line">
      <a href=""><img src="/assets/img/icon/icon_line2.svg" alt="" width="28" height="28">Lineで相談</a>
    </li>
    <li class="p-fixef-cta__item p-fixef-cta__item--tel">
      <a href="tel:03-6883-8292">
        <span class="text">電話で相談</span>
        <span class="tel"><img src="/assets/img/icon/icon_tel2.svg" alt="" width="10" height="18">03-6883-8292</span>
      </a>
    </li>
  </ul>
</div>