@use "../../../global/index" as *;

/* -------------------------------------
        p-policy
-----------------------------------------*/
.p-policy {

  &__section {
    margin-top: 60px;
    &:first-child {
      margin-top: 0;
    }

    &__title {
      font-size: 2.2rem;
      font-weight: $medium;
      @include mq(md) {
        font-size: 1.9rem;
      }

      & + * {
        margin-top: 20px;
        @include mq(md) {
          margin-top: 15px;
        }
      }
    }

    p {
      & + p {
        margin-top: 10px;
      }
    }

    ul {
      margin-top: 20px;
      @include mq(md) {
        margin-top: 15px;
      }

      li {
        text-indent: -0.6em;
        padding-left: 0.8em;
        margin-top: 10px;
        &::before {
          content: "";
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: $color-black01;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 6px;
          transform: translateY(-3px);
        }

        &:first-child {
          margin-top: 0;
        }

        a[target=_blank]::after {
          padding-left: 16px;
        }
      }
    }

    ol {
      margin-top: 20px;
      @include mq(md) {
        margin-top: 15px;
      }

      li {
        counter-increment: num;
        text-indent: -1.3em;
        padding-left: 1.2em;
        margin-top: 10px;
        &::before {
          display: inline-block;
          width: 1.2em;
          color: $color-black01;
          text-indent: 0;
          content: counter(num) ".";
        }
        @include mq(md) {
          text-indent: -1.3em;
        }
        &:first-child {
          margin-top: 0;
        }
        
        a[target=_blank]::after {
          padding-left: 26px;
        }
      }
    }

    a {
        word-wrap: break-word;
        text-decoration: underline;
        transition: color 0.25s;
        &:hover, &:focus {
          color: $accent-color;
        }
      }

  }
}