@use "../../../global/index" as *;

/* -------------------------------------
        p-under-mv
-----------------------------------------*/
.p-under-mv {
  padding: 70px 0 100px;
  @include mq(md) {
    padding: 35px 0 50px;
  }

  .l-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .en {
      font-family: $second-font-family;
      font-size: 6rem;
      font-weight: $semibold;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      @include mq(md) {
        font-size: 4.2rem;
      }
      &::first-letter {
        color: $main-color;
      }
    }

    .ja {
      color: $main-color;
      font-size: 2rem;
      font-weight: $bold;
      margin-top: 5px;
      @include mq(md) {
        font-size: 1.4rem;
        margin-top: 3px;
      }
    }
  }
}