@use "../../../global/index" as *;

/* -------------------------------------
        p-info
-----------------------------------------*/
.p-info {
  padding-top: 100px;
  background: url(../assets/img/common/info_bg.png) no-repeat 50% 50% / cover;
  @include mq(md) {
    padding-top: 60px;
  }

  &__title {
    color: #fff;
    font-family: $second-font-family;
    font-size: 5.2rem;
    font-weight: $semibold;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    @include mq(md) {
      font-size: 4rem;
    }

    & + * {
      margin-top: 50px;
      @include mq(md) {
        margin-top: 30px;
      }
    }
  }

  &__content {
    display: flex;
    gap: 16px;
    @include mq(lg) {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #F6F4ED;
    box-shadow: 0px 4px 30px 0px rgba(69, 65, 61, 0.40);
    padding: 40px 20px;
    flex: 1;
    // height: 269px;
    text-align: center;
    @include mq(lg) {
      flex: auto;
      width: 100%;
      max-width: 500px;
      margin-right: auto;
      margin-left: auto;
    }
    @include mq(md) {
      max-width: 360px;
    }

    &--mail {
      flex: 1.9;
      @include mq(lg) {
        flex: auto;
        width: 100%;
      }
    }
  }

  &__item-title {
    font-size: 2rem;
    margin-top: 15px;
  }

  &__btn-warp {
    margin-top: 20px;
    padding-top: 20px;
    margin-top: auto;
  }

  &__btn {
    display: inline-block;
    position: relative;
    max-width: 320px;
    width: 100%; 
    border: 1px solid $main-color;
    border-radius: 100px;
    background-color: $main-color;
    color: #fff;
    font-weight: $medium;
    text-align: center;
    transition: 0.25s;
    z-index: 10;
    padding: 19px 10px;
    @include mq(md) {
      font-size: 1.6rem;
      padding: 17px 8px;
    }
  
    &:hover, &:focus-visible {
      background-color: #fff;
      color: $main-color;
    }

    &--line {
      border-color: #4CC764;
      background-color: #fff;
      color: $color-black01;

      &:hover, &:focus-visible {
        background-color: #4CC764;
        color: #fff;
      }
    }
  }

  &__tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $third-font-family;
    font-size: 3rem;
    line-height: 1.4;
    &::before {
      content: "";
      width: 26px;
      height: 1px;
      background-color: $main-color;
      margin-bottom: 20px;
    }

  }
}