@use "../../../global/index" as *;

/* -------------------------------------
        p-mv
-----------------------------------------*/
.p-mv {
  padding-top: 44px;
  @include mq(md) {
    padding-top: 20px;
    overflow: hidden;
  }

  &__content {
    display: flex;
    gap: 90px;
    @include mq(lg) {
      flex-direction: column;
      gap: 60px;
    }
  }

  &__main {
    width: 40.67%;
    max-width: 488px;
    @include mq(lg) {
      width: 100%;
      max-width: none;
      text-align: center;
    }
  }

  &__title-sub {
    color: $main-color;
    font-size: 2.2rem;
    font-weight: $bold;
    @include mq(sm) {
      font-size: clamp(16px, 5vw, 20px);
    }

    .tag {
      display: inline-block;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid $main-color;
      line-height: 1;
      font-size: 1.7rem;
      padding: 5px 6px;
      margin-left: 6px;
      @include mq(sm) {
        font-size: clamp(15px, 4.25vw, 17px);
      }
      .small {
        font-size: 1.6rem;
        @include mq(sm) {
          font-size: clamp(14px, 4vw, 16px);
        }
      }
    }
  }

  &__title-main {
    font-size: 3.8rem;
    font-weight: $bold;
    line-height: 1.5;
    @include mq(xl) {
      font-size: 3.4rem;
    }
    @include mq(sm) {
      font-size: clamp(22px, 7vw, 28px);
    }
  }

  &__main-img {
    margin-top: 40px;
    @include mq(lg) {
      margin-top: 20px;
    }
  }

  &__approach {
    width: 51.84%;
    max-width: 622px;
    @include mq(lg) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__approach-img {
    max-width: 622px;
    margin: 0 auto;
    @include mq(sm) {
      width: 100vw;
      margin: 0 calc(50% - 50vw);
      padding: 0 5px;      
    }

    img {
      width: 100%;
    }
  }

  &__btn {
    display: block;
    position: relative;
    max-width: 293px;
    width: 100%; 
    border: 1px solid $main-color;
    border-radius: 48px;
    background-color: $main-color;
    color: #fff;  
    font-weight: $medium;
    text-align: center;
    transition: 0.25s;
    z-index: 10;
    padding: 14px 10px;
    margin: 0 auto;
    @include mq(md) {
      font-size: 1.4rem;
      max-width: 250px;
      padding: 13px 8px;
      margin-top: 20px;
    }
  
    &:hover, &:focus-visible {
      background-color: #fff;
      color: $main-color;
    }
  }

  &__gallery {
    margin-top: 90px;
    overflow: hidden;
    @include mq(md) {
      margin-top: 40px;
    }
  }
}