---
import '../../public/assets/js/splide/splide.min.css';
import '../../public/assets/css/style.css';
import Nav from '../components/Nav.astro';
import FixedCta from '../components/FixedCta.astro';
const { title } = Astro.props;
const companyName = "BASE10";
const pageTitle = title ? `${title} | ${companyName}` : companyName;
---

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!-- meta情報 -->
  <title>{ pageTitle }</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- ogp -->
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <!-- ファビコン -->
  <link rel="shortcut icon" type="image/x-icon" href="">
  <!-- fontawesome -->
  <!-- <script src="https://kit.fontawesome.com/39d42e1acb.js" crossorigin="anonymous"></script> -->
  <!-- Googleフォント -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira:wdth,wght@87.5,600&display=swap" rel="stylesheet">
  <!-- css -->
  <script>console.log("")</script>
</head>

<body>
  <Nav />
  <!-- <Nav/> -->
  <main class="l-main">
    <slot />
  </main>
  <!-- info -->
  <section class="p-info">
  <div class="l-inner">
    <h2 class="p-info__title">Contact</h2>
    <div class="p-info__content">
      <div class="p-info__item p-info__item--mail">
        <span class="p-info__icon"><img src="/assets/img/icon/icon_mail.svg" alt="" width="60" height="60" loading="lazy"></span>
        <h3 class="p-info__item-title">メールでご相談</h3>
        <div class="p-info__btn-warp">
          <a href="" class="p-info__btn">ご相談はこちら</a>
        </div>
      </div>
      <div class="p-info__item">
        <span class="p-info__icon"><img src="/assets/img/icon/icon_line.svg" alt="" width="60" height="60" loading="lazy"></span>
        <h3 class="p-info__item-title">LINEでご相談</h3>
        <div class="p-info__btn-warp">
          <a href="" class="p-info__btn p-info__btn--line">お気軽にご相談</a>
        </div>
      </div>
      <div class="p-info__item">
        <span class="p-info__icon"><img src="/assets/img/icon/icon_tel.svg" alt="" width="60" height="60" loading="lazy"></span>
        <h3 class="p-info__item-title">電話でご相談</h3>
        <div class="p-info__btn-warp">
          <a href="tel:03-6883-8292" class="p-info__tel">03-6883-8292</a>
        </div>
      </div>
    </div>
  </div>
  </section>
  <FixedCta />
  <!-- footer -->
  <footer class="l-footer">
    <div class="l-inner">
      <div class="l-footer__content">
        <div class="l-footer__logo">
          <img src="/assets/img/common/logo-white.svg" alt="" width="122" height="36" loading="lazy">
        </div>
        <nav class="l-footer__nav">
          <ul class="l-footer__nav-list">
            <li class="l-footer__nav-item">
              <a href="">Home</a>
            </li>
            <li class="l-footer__nav-item">
              <a href="">Services</a>
            </li>
            <li class="l-footer__nav-item">
              <a href="">About</a>
            </li>
            <li class="l-footer__nav-item">
              <a href="">Works</a>
            </li>
            <li class="l-footer__nav-item">
              <a href="">Blog</a>
            </li>
            <li class="l-footer__nav-item">
              <a href="">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="l-footer__bottom">
        <p class="l-footer__copyright">© BASE10</p>
        <a href="" class="l-footer__bottom-link">プラバシーポリシー</a>
      </div>
    </div>
  </footer>
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" is:inline></script>
  <script src="/assets/js/splide/splide.min.js" is:inline></script>
  <script src="/assets/js/common.js" is:inline></script>

  <script>

  </script>

</body>

</html>